:root {
    --primaryColor: #2196F3;
    --darkPrimaryColor: #1976D2;
    --accentColor: #03A9F4;
    --dividerColor: #BDBDBD;
    --primaryText: #212121;
    --secondaryText: #757575;
    --text: #fff;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: "Arial";
    color: var(--primaryText);
}


/* Scrollbar customization (not supported by Firefox and IE */

::-webkit-scrollbar {
    width: 0;
    height: 0;
}


/* ----------------------- SONGS ------------------------ */

.page {
    max-width: 3000px;
    min-height: 500px;
    margin: 0 auto;
}

#navbar {
    position: absolute;
    top: 0;
    right: 0;
    width: 8%;
    height: 8vmin;
    box-sizing: border-box;
    padding-top: 2.5vmin;
    z-index: 1;
}

.navbar-btn {
    width: 50%;
    height: 3vmin;
    font-size: 3vmin;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    float: left;
}

#songs-container {
    max-width: 1500px;
    width: 50vw;
    height: 100vh;
    float: left;
}

#songs-container-nav {
    width: 100%;
    height: 8vmin;
    text-transform: uppercase;
    text-align: center;
    font-size: 3vmin;
    color: var(--text);
    font-weight: bold;
    box-shadow: 0 5px 5px var(--dividerColor);
}

.songs-container-nav-btn {
    width: 50%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    padding-top: 2.5vmin;
    background-color: var(--primaryColor);
    cursor: pointer;
}

#songs-container-nav-add {
    background-color: var(--darkPrimaryColor);
    color: var(--dividerColor)
}

#songs-container-list {
    width: 100%;
    height: 92vmin;
    box-shadow: 1px 0 5px var(--dividerColor);
    overflow: scroll;
}

.song {
    width: 95%;
    height: 12vmin;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px var(--dividerColor);
    border-radius: 2vmin;
    margin: 2vmin auto 0 auto;
}

.song-col {
    width: 10%;
    height: 100%;
    font-size: 4vmin;
    box-sizing: border-box;
    padding-top: 4vmin;
    text-align: center;
    float: left;
}

.song div:nth-child(2) {
    width: 80%;
    padding: 0;
    text-align: left;
}

.song-title {
    width: 100%;
    height: 6vmin;
    font-size: 5vmin;
    padding: 1vmin 2vmin 0 2vmin;
    box-sizing: border-box;
    text-transform: uppercase;
}

.song-author {
    width: 100%;
    height: 4.5vmin;
    font-size: 3vmin;
    margin: 1.5vmin 2vmin 0 2vmin;
    box-sizing: border-box;
    color: var(--secondaryText)
}

.song-transfer {
    cursor: pointer;
}


/* ------------------- ADD SONG ----------------------- */

#songs-container-add-song {
    width: 100%;
    height: 92vmin;
    box-shadow: 1px 0 5px var(--dividerColor);
    box-sizing: border-box;
    padding-top: 9vmin;
    display: none;
}

.add-song-hint {
    height: 5vmin;
    font-size: 3vmin;
    box-sizing: border-box;
    padding: 1vmin 0 1vmin 5vmax;
    margin-top: 9vmin;
    text-transform: uppercase;
}

#songs-container-add-song p:first-child {
    margin-top: 2vmin;
}

.add-song-input {
    width: calc(100% - 10vmax);
    height: 8vmin;
    font-size: 4vmin;
    box-sizing: border-box;
    padding: 2vmin 1vmax;
    border: none;
    box-shadow: 1px 1px 5px var(--dividerColor);
    border-radius: 2vmin;
    margin: 1vmin 5vmax 0 5vmax;
}

.add-song-input:focus {
    outline: none;
    box-shadow: 1px 1px 5px var(--secondaryText);
}

#add-song-submit {
    width: 50%;
    height: 10vmin;
    box-shadow: 1px 1px 5px var(--dividerColor);
    border-radius: 2vmin;
    margin: 10vmin auto 0 auto;
    font-size: 5vmin;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
    padding: 2.5vmin 0;
    background-color: var(--darkPrimaryColor);
    color: var(--dividerColor);
    transition-duration: 300ms;
    cursor: pointer;
}

#add-song-submit:hover {
    box-shadow: 2px 2px 7px var(--secondaryText);
    background-color: var(--primaryColor);
    color: var(--text);
}


/* ----------------------- CHOSEN SONGS -------------------- */

#chosen-songs-container {
    max-width: 1500px;
    width: 50vw;
    height: 100vh;
    box-shadow: 5px 0 5px var(--dividerColor);
    float: left;
}

#chosen-songs-container-header {
    width: 100%;
    height: 8vmin;
    text-transform: uppercase;
    text-align: center;
    font-size: 3vmin;
    color: var(--primaryText);
    font-weight: bold;
    box-shadow: 0 5px 5px var(--dividerColor);
    box-sizing: border-box;
    padding-top: 2.5vmin;
}

#chosen-songs-container-list {
    width: 100%;
    height: 80vmin;
    overflow: scroll;
}

.chosen-song {
    width: 100%;
    height: 8vmin;
    box-sizing: border-box;
    border-bottom: 1px solid var(--dividerColor);
}

.chosen-song-col {
    width: 80%;
    height: 100%;
    box-sizing: border-box;
    float: left;
}

.chosen-song-transfer {
    width: 20%;
    float: left;
    cursor: pointer;
}

.chosen-song-title {
    width: 100%;
    height: 5vmin;
    font-size: 3vmin;
    padding: 1vmin 0 1vmin 2vmin;
    box-sizing: border-box;
    text-transform: uppercase;
}

.chosen-song-author {
    width: 100%;
    height: 3vmin;
    font-size: 2vmin;
    margin: 0 0 0 2vmin;
    box-sizing: border-box;
    color: var(--secondaryText)
}

#chosen-songs-container-vote {
    width: 50%;
    height: 8vmin;
    box-sizing: border-box;
    padding: 2.5vmin 0;
    margin: 2vmin auto;
    text-align: center;
    font-size: 3vmin;
    text-transform: uppercase;
    background-color: var(--primaryColor);
    color: var(--text);
    border-radius: 2vmin;
    box-shadow: 3px 3px 5px var(--dividerColor);
    text-overflow: clip;
}