html {
	background-color: #673AB7;
	background-image: linear-gradient(to bottom right, #673AB7, #9C27B0);
}

body {
	margin: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #212121;
}

/* MENU */
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
  
li {
	float: left;
}
  
li a {
	display: block;
	color: #673AB7;
	text-align: center;
	padding: 1.5vmin 0 1.5vmin 0;
	text-decoration: none;
	width: 20vmin;
	height: 3vh;
	line-height: 3vh;
	border-radius: 1vw;
	font-weight: bold;
	font-size: 1.5vmin;
	margin-right: 1vw;
	position: relative;
	outline: 0;
	overflow:hidden;
	background: none;
	z-index: 1;
	cursor: pointer;
	transition:         0.1s ease-in;
	-o-transition:      0.1s ease-in;
	-ms-transition:     0.1s ease-in;
	-moz-transition:    0.1s ease-in;
	-webkit-transition: 0.1s ease-in;
}

li a.active {
	color: white;
	background-color: #9C27B0;
	background-image: linear-gradient(to bottom right, #9C27B0, #2F6DFE);
}
  
li a:hover {
	color: white;
}

li a:hover:before {
	top: 0;
}

li a:before {
	content: "";
	position: absolute;
	background-color: #2F6DFE;
	background-image: linear-gradient(to bottom right, #2F6DFE, #9C27B0);
	bottom: 0;
	left: 0;
	right: 0;
	top: 100%;
	z-index: -1;
	-webkit-transition: top 0.1s ease-in;
}

/*  CONTENT */
#back {
	padding: 1vw;
	margin: 9vh auto 9vh auto;
	height: 78vmin;
	width: 117vmin;
	border-radius: 1vw;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

#content {
	background-image: url("img.jpg");
	height: 78vmin;
	width: 117vmin;
	background-size: cover;
	background-position: right bottom;
	background-size: 107vmin 60vmin;
	background-repeat: no-repeat;
	display: flex;
  	flex-direction: column;
  	justify-content: space-between;
}

p {
	font-size: 3vmin;
}

footer {
	font-size: 1.5vmin;
}