html {
	background: rgb(45, 45, 45);
	font-family: 'Open Sans', sans-serif;
	color: #fff;
}

#navbar{
	margin-top:10px;
}
.menu:first-child {
	background: #4285F4;
}

.menu:nth-child(2) {
	background: #DB4437;
}

.menu:nth-child(3) {
	background: #F4B400;
}

.menu:nth-child(4) {
	background: #0F9D58;
}

.menu {
	width: 23%;
	padding: 10px 0;
	float: left;
	margin: 0 1%;
	text-align: center;
	font-weight: bold;
	font-size:2vh;
	border-radius: 20px;
	cursor: pointer;
	transition-duration: 300ms;
}
.menu:hover{
	box-shadow:5px 5px 10px #000;
}

#profile {
	position: absolute;
	left: 40%;
	top: 40%;
	height: 40%;
	max-width: 20%;
	min-width:10%;
	text-align: center;
	font-size: 1vw;
	z-index:1;
}

img {
	width: 50%;
	border-radius: 50%;
}

#content{
	position:absolute;
	top:20%;
	left:30%;
	height:66%;
	width:56%;
	padding:2%;
	border-radius:1vw;
	font-size:1.5vw;
	background:#4285F4;
	box-shadow:5px 5px 10px #000;
	overflow:scroll;
}

/* TABLETS */
@media only screen and (max-width:800px) {
	
	#profile {
		left:35%;
		min-width: 30%;
		font-size: 3vw;
	}
	.img{
		width: 60%;
	}
  }

  /* MONILE PHONES */
@media only screen and (max-width:500px) {
	
	.menu{
		font-size:3vw;
	}
	#profile {
		left:35%;
	  	min-width: 30%;
	  	font-size: 3vw;
	}
	img{
		width: 100%;
	}
	#content{
		font-size:2vh;
	}
  }

  ::-webkit-scrollbar {
    width: 0;
	height:0;
}