html {
	background: rgb(45, 45, 45);
	font-family: 'Open Sans', sans-serif;
	color: #fff;
}

#navbar{
	margin-top:10px;
}
.menu:first-child {
	background: #4285F4;
}

.menu:nth-child(2) {
	background: #DB4437;
}

.menu:nth-child(3) {
	background: #F4B400;
}

.menu:nth-child(4) {
	background: #0F9D58;
}

.menu {
	width: 23%;
	padding: 10px 0;
	float: left;
	margin: 0 1%;
	text-align: center;
	font-weight: bold;
	border-radius: 20px;
	cursor: pointer;
}

#profile {
	position: absolute;
	left: 40%;
	top: 40%;
	height: 40%;
	max-width: 20%;
	min-width:10%;
	text-align: center;
	font-size: 1vw;
	z-index:1;
}

img {
	width: 50%;
	border-radius: 50%;
}

#content{
	position:absolute;
	top:20%;
	left:30%;
	height:70%;
	width:60%;
	border-radius:1vw;
	background:#4285F4;
}

@media only screen and (max-width:800px) {
	/* For tablets: */
	#profile {
	  width: 40%;
	}
	.img{
		width: 60%;
	}
  }

@media only screen and (max-width:500px) {
	/* For mobile phones: */
	#profile {
	  width: 100%;
	}
	img{
		width: 80%;
	}
  }